.box {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 12px;
  color: #fff;
}

.box {
  width: 100%;
  position: relative;
}

.scrollArea {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* .scrollArea::-webkit-scrollbar {
  height: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scrollArea:hover::-webkit-scrollbar {
  opacity: 1;
}

.scrollArea::-webkit-scrollbar-track {
  background: transparent;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.129);
  border-radius: 8px;
  transition: background 0.3s ease;
}

.scrollArea:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.132);
} */

.scrollArea::-webkit-scrollbar {
  width: 8px;
}

.scrollArea::-webkit-scrollbar-track {
  background: #2a2e3a;
  border-radius: 10px;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: #3a4768;
  border-radius: 10px;
  border: 2px solid #2a2e3a;
}

.scrollArea::-webkit-scrollbar-thumb:hover {
  background: #46547d;
}

.scrollArea {
  scrollbar-width: thin;
  scrollbar-color: #3a4768 #2a2e3a3b;
}

.scrollContent {
  position: relative;
}

.chartContainer {
  height: 180px;
}

.iconsRow {
  display: flex;
  margin-top: -10px;
  padding: 0;
  justify-content: space-between;
  pointer-events: none;
}

.iconCell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.iconCell img {
  width: 35px;
  height: 35px;
}

.iconCell p {
  font-size: 12px;
  background: rgba(1, 87, 127, 0.721);
  padding: 3px;
  border-radius: 5px;
  margin-top: 5px auto;
  border-top: 1px solid black;
  min-width: 50px;
}

.iconCell p span {
  font-size: 10px;
  opacity: 0.6;
  
}
