.box {
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 16px;
  padding: 12px;
  color: #fff;
}

.box {
  width: 100%;
  position: relative;
}

.scrollArea {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.scrollArea::-webkit-scrollbar {
  height: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scrollArea:hover::-webkit-scrollbar {
  opacity: 1;
}

.scrollArea::-webkit-scrollbar-track {
  background: transparent;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.129);
  border-radius: 8px;
  transition: background 0.3s ease;
}

.scrollArea:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.132);
}

.scrollContent {
  position: relative;
}

.chartContainer {
  height: 140px;
}

.iconsRow {
  display: flex;
  margin-top: -10px;
  padding: 0;
  justify-content: space-between;
  pointer-events: none;
}

.iconCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCell img {
  width: 32px;
  height: 32px;
}
