.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  background-color: #262f4d;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  @media screen and (max-width: 855px) {
    padding: 2px;
    gap: 3px;
  }
  @media screen and (max-width: 768px) {
    padding: 5px;
    gap: 10px;
  }
}

.list_item_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  background-color: #262f4d;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  padding-right: 15px;
}

.list_item_inner span {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #2e395d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  overflow: hidden;
  @media screen and (max-width: 1280px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1120px) {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.list_item_inner p {
  font-size: 20px;
  @media screen and (max-width: 1280px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1120px) {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
  @media screen and (max-width: 370px) {
    font-size: 16px;
  }
  @media screen and (max-width: 330px) {
    font-size: 15px;
  }
}

.close {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #2e395d;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1120px) {
    padding: 8px 3px;
  }
  @media screen and (max-width: 800px) {
    padding: 8px 0px;
  }
  @media screen and (max-width: 768px) {
    padding: 5px 10px;
  }
  @media screen and (max-width: 340px) {
    padding: 10px 5px;
  }
}

.close svg {
  width: 28px;
  height: 30px;
  @media screen and (max-width: 1280px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 1120px) {
    width: 15px;
    height: 15px;
  }
  @media screen and (max-width: 768px) {
    width: 28px;
    height: 30px;
  }
  @media screen and (max-width: 340px) {
    width: 20px;
    height: 20px;
  }
}