.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
