.error_wrapper {
  position: relative;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error_img {
  padding-top: 50px;
  width: 30%;
  height: auto;
  max-width: 30%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.error_wrapper p {
  max-width: 400px;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 20px;
  font-weight: 600;
  opacity: 0.6;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
