.error_wrapper{
  position: relative;
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error_img{
	width: 30%;
	height: auto;
  max-width: 30%;
}

.error_wrapper p{
  max-width: 400px;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
}