.error_wrapper{
  position: relative;
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_img{
	width: 30%;
	height: auto;
  max-width: 30%;
}