.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  width: 100%;
}

/* -------------------- TOP -------------------- */

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  @media screen and (max-width: 400px) {
    flex-wrap: wrap;
  }
}

.top_left h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.top_left h2 {
  font-size: 16px;
  opacity: 0.8;
  margin-top: 4px;
  background: #4b5a8a3f;
  padding: 3px 5px;
  border-radius: 5px;
  width: max-content;
}

.top_right {
  display: flex;
  gap: 6px;
}

.btn,
.btn_active {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.25s ease;
}

.btn {
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.55);
}

.btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

.btn_active {
  background: #4b5a8a;
  color: #fff;
  box-shadow: 0 0 10px rgba(100, 130, 255, 0.45);
}

/* -------------------- BOTTOM -------------------- */

.bottom {
  display: flex;
  align-items: center;
  gap: 28px;
  color: #fff;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 30px;
  width: max-content;
  padding-right: 10px;
  padding-left: 5px;
  @media screen and (max-width: 630px) {
    gap: 10px;
    padding-left: 20px;
    padding-right: 10px;
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
    padding-top: 5px;
    gap: 0;
  }
}

.img_box img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @media screen and (max-width: 630px) {
    margin-left: -15px;
  }
}

.temperature_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media screen and (max-width: 630px) {
    gap: 10px;
    margin-top: 5px;
  }
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.temperature p {
  font-size: 58px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @media screen and (max-width: 1000px) {
    font-size: 45px;
  }
  @media screen and (max-width: 630px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 30px;
  }
  @media screen and (max-width: 375px) {
    font-size: 30px;
  }
}

.temperature span {
  margin-left: 4px;
  font-size: 26px;
  vertical-align: top;
}

.temperature_box h3 {
  margin: 0;
  margin-top: 6px;
  font-size: 40px;
  opacity: 0.9;
  background: #1a295f70;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @media screen and (max-width: 1000px) {
    font-size: 25px;
  }
  @media screen and (max-width: 630px) {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .box {
    padding: 16px;
  }

  .top_left h1 {
    font-size: 20px;
  }

  .temperature p:nth-child(1) {
    font-size: 40px;
  }
}
