.box {
  width: 100%;
  margin-top: 30px;
}

.btn_active,
.btn {
  background: #2f3341;
  border-radius: 30px;
  padding: 10px 40px;
  @media screen and (max-width: 360px) {
    padding: 10px 20px;
  }
}

.btn_active {
  background: rgba(76, 80, 102, 0.523);
}

.day {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @media screen and (max-width: 1120px) {
    font-size: 22px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }
  @media screen and (max-width: 980px) {
    font-size: 16px;
  }
  @media screen and (max-width: 950px) {
    font-size: 20px;
  }
  @media screen and (max-width: 570px) {
    font-size: 16px;
  }
  @media screen and (max-width: 520px) {
    font-size: 25px;
  }
  @media screen and (max-width: 415px) {
    font-size: 22px;
  }
}

.icon {
  width: 120px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @media screen and (max-width: 1100px) {
    width: 90px;
  }
  @media screen and (max-width: 1030px) {
    width: 80px;
  }
  @media screen and (max-width: 980px) {
    width: 60px;
  }
  @media screen and (max-width: 950px) {
    width: 80px;
  }
  @media screen and (max-width: 570px) {
    width: 60px;
  }
  @media screen and (max-width: 520px) {
    width: 100px;
  }
  @media screen and (max-width: 415px) {
    width: 80px;
  }
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @media screen and (max-width: 1100px) {
    gap: 5px;
    font-size: 14px;
  }
  @media screen and (max-width: 950px) {
    gap: 10px;
    font-size: 16px;
  }
  @media screen and (max-width: 840px) {
    gap: 5px;
    font-size: 14px;
  }
  @media screen and (max-width: 520px) {
    gap: 10px;
    font-size: 16px;
  }
  @media screen and (max-width: 415px) {
    gap: 5px;
    font-size: 14px;
  }
}

.temp span {
  color: #fff;
  opacity: 0.5;
}
